node_modules
dist
.vite
.next
build
.env
.env.local
.env.*.local
*.log
.DS_Store
.idea
.vscode
*.swp
*.swo
.git
.gitignore
CHANGELOG.md
LICENSE
.npmignore
src
tsconfig.json
vite.config.ts
vite.config.lib.ts
eslint.config.js
.prettierrc
.prettierignore
public
components.json
bunfig.toml
wrangler.jsonc
